# Supabase Configuration
VITE_SUPABASE_URL=https://hukhsncqingrmhlspixg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1a2hzbmNxaW5ncm1obHNwaXhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxMTIxMjUsImV4cCI6MjA5MzY4ODEyNX0.gj0-4CUPVlVk2au85Mz_PVO3USnyKfgHFroN0EsbzMI
